/* At 16pt, 1px = 0.0625em*/

a{
    color: gold;
}


body{
    text-align: center;
    margin: 0px;
    background-color: #303030;
}





#header{
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 100;
    padding: 0.3em 0.8em;
    border-width: 0.075em 0.16em 0.16em 0.16em;
    border-style: solid;
    border-color: #151515;
    background-color: #1B1B1B;
    text-align: right;
    font-size: 80%;
    color: gold;
}

#header a{
    padding: 0em 0.3em;
}





#wrapper{
    width: 80%;
    margin: 0% 1%;
    margin-top: 2em; 
    background-color: #202020;
    color: white; 
}






#title{ 
    border: 0.06em solid #151515;
    border-bottom: none;
    height: 6em;
}







#jump_menu{
    border: 0.125em solid #151515;
    padding: 0.5em 0em;
    background-color: #2B2B2B;
    color: gold;
}
.jump_menu_list {
    padding-left: 0px;
    margin: 0px;
}
.jump_menu_link {
    list-style-type: none;
    display: inline;
}










#chat{
    height: 10em;
    border-left: 0.125em solid #151515;
    border-right: 0.125em solid #151515;
}

#chat_messages{
    height: 87%; 
    box-sizing: border-box;
    border-bottom: 0.125em solid #151515;
    overflow-y: scroll;
}

.chat_message{
    overflow: auto;
    background-color: #252525;
    padding: 0.375em 0em;
}

.chat_message:nth-child(even){
    background-color: #232323;
}

.chat_user, .chat_comment{
    float: left;
    font-size: 80%;
    color: #b2b2b2;
}

.chat_user{
    clear: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.chat_date{
    padding-left: 0.5em;
    font-size: 80%;
    color: gold;
}

#add_chat_message_form{ 
    width: 100%;
    height: 13%;
    box-sizing: border-box;
    padding: 0.0625em 0.125em 0.0625em 0.125em;   
}

#add_chat_message{
    margin: 0px;
    width: 100%;
    height: 100%;
}

#chat_message_text{
    width: 90%;
    height: 100%;
    box-sizing: border-box; 
    background-color: #252525;
    border-width: 0.078125em;
    border-style: inset;
    border-color: #151515;
    border-radius: 0.234375em;
    color: #b2b2b2;
    outline: none;
    font-size: 80%;
    font-family: "Times New Roman", Georgia, serif;
    padding-left: 0.234375em;
    vertical-align: top;
    
}

#chat_message_text:focus{
    background-color: #202020;
    border-bottom-color: #191919;
}

#chat_message_submit{
    width: calc(10% - 0.125em); /*minus the margin*/
    height: 100%;
    box-sizing: border-box;
    border-width: 0.0625em;
    border-radius: 0.25em;
    border-color: #151515;
    margin-left: 0.125em;
    color: #e5e5e5;
    background: linear-gradient(#303030, #232323);
    outline: none;
    vertical-align: top;
}

#chat_message_submit:active{
    background: linear-gradient(#232323, #303030);
}







#content {
    overflow: auto;
    min-height: 35em;
    width: 100%;
    border-width: 0.06em 0em 0.06em 0em;
    border-style: solid;
    border-color: #151515;
}






#section_list{
    border-bottom: 0.06em solid #151515;

}
.section_info{
    color: grey;
    background-color: #2B2B2B;
    border-width: 0.06em 0.125em 0.06em 0.125em;
    border-style: solid;
    border-color: #151515;
    text-align: left;
    height: 4.5em;
    padding: 0.3em;
}

.section_info p{
    margin: 0px;
    font-size: 80%;
    padding-top: 0.3em;
}










#section_info, #topic_info {
    background-color: #2B2B2B;
    border-width: 0.16em;
    border-style: solid;
    border-color: #111111;
    color: white;
    font-size: 80%;
    text-align: left;
    padding: 0.7em 0em 1em 0.7em;
}

#section_info h1, #topic_info h1{
    margin: 0px;
    padding-bottom: 0.3em;

}

#section_info p, #topic_info p{
    margin: 0px;

}






#topic_list{
    border-bottom: 0.0625em solid #151515;
    background-color: #2B2B2B;
}
.section_topic {
    clear: left;
    overflow: auto;
    border-width: 0em 0.0625em;
    border-style: solid;
    border-color: #151515;
    box-sizing: border-box;
}
.topic_info, .topic_owner, .topic_post_info, .topic_stats {

    box-sizing: border-box;
    height: 4em;
    border: 0.0625em solid #151515;
    padding: 0.3125em 0.625em;
    float: left;
    text-align: center;
    color: grey;
    
}

.topic_info {
    width: 45%;
    text-align: left;
}
.topic_owner{
    width: 20%;
}
.topic_post_info {
    width: 20%
}
.topic_stats{
    width: calc(15%); 
}
.topic_info p{
    margin: 0px;
    font-size: 80%;
    padding-top: 0.375em;
}
.topic_owner p, .topic_post_info p, .topic_stats p{
    margin: 0px;
    font-size: 90%;
}





#post_list{
    border-width: 0em 0.125em 0.125em 0.125em;
    border-style: solid;
    border-color: #151515;
    
}

.post_info{
    text-align: left;
    overflow: auto;
}

.poster{
    padding: 0.18em 0.3em;
    background-color: grey;
    border-top: 0.0625em solid #151515;
    border-bottom: 0.0625em solid #151515;
    text-align: left;
    clear: left;
    font-weight: bold;
}

.post_content{
    color: black;
    clear: left;
    padding: 0.6em;
    min-height: 2.1em;
    background-color: #D6D6D6;
}







#sidebar {
    position: fixed;
    box-sizing: border-box;
    height: calc(98% - 2em);
    width: 18%;
    top: 2em;
    right: 0%;
    padding: 1.2em;
    border: 0.125em solid #151515;
    background: #232323;
    text-align: left;
}

#sidebar h2{
    margin: 0px;
}

.top_three_posters, .top_three_topics {
    list-style: decimal inside;
    text-align: left;
    padding-left: 0px;
}






#pagination, #add_topic_button, #add_post_button {
    margin: 0.375em 0.375em 0em 0em;
    padding-top: 0.375em;
    float: right;
    clear: right;
    font-size: 80%;
}









#footer{
    border-width: 0.078125em 0.15625em 0.15625em 0.15625em;
    border-style: solid;
    border-color: #151515;
    background-color: #2B2B2B;
    font-size: 80%;
    text-align: left;
}

#online_members{
    padding: 0.375em 0.15em 0.375em 0.375em;
    border-bottom: 0.15625em solid #151515;
}

#board_statistics{
    margin: 0.375em 0em 0.375em 0em;
    padding: 0.15em 0.15em 0.15em 0.375em;

}


