a{
    color: gold;
}


body{
    text-align: center;
    margin: 0px;
    border: 1px solid transparent; /*Needed thank to margin collapsing when we add margin-top to wrapper, for more
    details see http://stackoverflow.com/questions/1762539/margin-on-child-element-moves-parent-element ... it makes
    little sense but adding a transparent border works. Take away the border to see what happens, if you bloody dare!
    */
    background-color: #303030;
}





#header{
    position: fixed;
    top: 0px;
    right: 0px;
    height: 25px;
    z-index: 100;
    padding-right: 0.5%;
    padding-left: 0.5%;
    background-color: #1B1B1B;
    border-width: 1px 2px 2px 2px;
    border-style: solid;
    border-color: #151515;
    text-align: right;
    font-size: 80%;
    color: gold;
    line-height: 25px; /*used for centering single lines, see http://stackoverflow.com/questions/2939914/vertically-align-text-in-a-div*/
}

#header a{
    padding: 0px 3px;
}





#wrapper{
    width: 80%;
    margin: 0% 1%;
    margin-top: 30px; /*So that the main content is underneath the header. Make sure this is at least the same as height of #header*/
    background-color: #202020;
    color: white; 
}






#title{ 
    border: 1px solid #151515;
    border-bottom: none;
    height: 100px;
}







#jump_menu{
    border: 2px groove #151515;
    height: 30px;
    line-height: 30px; /*used for centering single lines*/
    background-color: #2B2B2B;
    color: gold;
}
.jump_menu_list {
    padding-left: 0px;
    margin: 0px;
}
.jump_menu_link {
    list-style-type: none;
    display: inline;
}







#chat{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid #151515;
    border-right: 1px solid #151515;
    height: 175px;
}





#content {
    overflow: auto;
    min-height: 430px;
    width: calc(100%-2px);
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #151515;
}







.section_topic {
    clear: left;
    overflow: auto;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: #151515;
}
.section_info{
    color: grey;
    background-color: #2B2B2B;
    border-width: 1px 2px 1px 2px;
    border-style: solid;
    border-color: #151515;
    text-align: left;
    height: 75px;
    padding: 5px 5px 5px 5px;
}

.section_info p{
    margin: 0px;
    font-size: 80%;
    padding-top: 5px;
}








#section_list{
    border-bottom: 1px solid #151515;

}
#section_info, #topic_info {
    background-color: #2B2B2B;
    border-width: 2px 2px 2px 2px;
    border-style: groove;
    border-color: #111111;
    color: white;
    font-size: 80%;
    text-align: left;
    padding-left: 10px
}

#section_info h1, #topic_info h1{
    margin: 0px;
    padding: 10px 0px 0px 0px;
}

#topic_info p, #section_info p{
    margin: 0px;
    padding: 5px 0px 10px 0px;
}







#topic_list{
    border-bottom: 1px solid #151515;
    background-color: #2B2B2B;
}
.topic_info, .topic_owner, .topic_stats {

    border: 1px solid #151515;
    height: 50px;
    padding: 5px 10px 5px 10px;
    float: left;
    text-align: center;
    color: grey;
}

.topic_info {
    width: calc(40% - 22px); /* 1px borders on both sides + 10px padding on both sides = 22px */
    text-align: left;
}
.topic_owner{
    width: calc(30% - 22px);
}

.topic_stats{
    width: calc(30% - 22px); 
}
.topic_info p{
    margin: 0px;
    font-size: 80%;
    padding-top: 5px;
}
.topic_owner p, .topic_stats p{
    margin: 0px;
    font-size: 90%;
}





#post_list{
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-color: #151515;
    
}

.post_info{
    text-align: left;
    overflow: auto;
}

.poster{
    padding: 3px 5px;
    background-color: grey;
    border-top: 1px solid #151515;
    border-bottom: 1px solid #151515;
    text-align: left;
    clear: left;
    font-weight: bold;
}

.post_content{
    color: black;
    clear: left;
    padding: 10px;
    min-height: 35px;
    background-color: #D6D6D6;
}







#sidebar {
    position: fixed;
    top: 30px;
    right: 0%;
    width:calc(18% - 42px);
    padding: 20px 20px 20px 20px;
    background:#232323;
    height:89.5%;
    border: 2px groove #151515;
    text-align: left;
}

#sidebar h2{
    margin: 0px;
}

.top_three_posters, .top_three_topics {
    list-style: decimal inside;
    text-align: left;
    padding-left: 0px;
}






#pagination, #add_topic_button, #add_post_button {
    margin: 5px 5px 0px 0px;
    padding-top: 5px;
    float: right;
    clear: right;
    font-size: 80%;
}









#footer{
    border-width: 1px 2px 2px 2px;
    border-style: solid;
    border-color: #151515;
    background-color: #2B2B2B;
    font-size: 83%;
    text-align: left;
}

#online_members{
    padding: 5px 2px 5px 5px;
    border-bottom: 2px solid #151515;
}

#board_statistics{
    margin: 5px 0px 5px 0px;
    padding: 2px 2px 2px 5px;

}


