{% load staticfiles %}
<! DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static  'css/forum.css' %}" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <div id="header">
            <span class="user">
                {% if request.user.is_authenticated %}
                    Hello {{ request.user.username }},
                    <a href="{% url 'forum:logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'forum:login' %}">Log-in</a>
                {% endif %}
            </span>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>