{% load forum_tags %}
{% load staticfiles %}
<! DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static  'css/forum.css' %}" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <div id="header">
            <span class="user">
                {% if request.user.is_authenticated %}
                    Hello {{ request.user.username }},
                    <a href="{% url 'forum:logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'forum:login' %}">Log-in</a> |
                    <a href="{% url 'forum:register' %}">Sign-up</a>
                {% endif %}
            </span>
        </div>
        <div id="title">
            <span class="forum_title">
                <h1>League of Casual Gentlemen</h1>
            </span>
        </div>
        <div id="jump_menu">
            {% jump_menu %}
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>